<ion-app>
  <!-- Side menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>MoneyDash</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <button class="logout-button">Logout</button>
    </ion-content>
  </ion-menu>
  
  <!-- Main content -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <div class="header-container">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <h3>Add Expenses</h3>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
    </ion-header>
    
    <section>
      <article>
        <ion-list [formGroup]="expenseForm">
          <ion-input label="Name" label-placement="floating" placeholder="Enter the expense name" type="text"
              fill="solid" formControlName="expense_Name"></ion-input>

          <ion-input label="Amount" label-placement="floating" placeholder="Enter the amount" type="number"
              fill="solid" formControlName="expense_Amount"></ion-input>

          <ion-input label="Date" label-placement="floating" type="date" fill="solid"
              formControlName="expense_Date"></ion-input>

          <ion-input label="Invoice" label-placement="floating" type="file" fill="solid"
              formControlName="expense_Invoice"></ion-input>

          <ion-select label="Expense Category" label-placement="floating" fill="solid"
              formControlName="expense_Category">
            <ion-select-option value="Saving">Saving</ion-select-option>
            <ion-select-option value="Expenditure">Expenditure</ion-select-option>
          </ion-select>

          <ion-button type="button" (click)="submitExpensesForm()">Submit</ion-button>
        </ion-list>
      </article>
    </section>
    
    <app-shared-footer></app-shared-footer>
  </div>
</ion-app>